# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Environments
.env
.env.*
.venv/
venv/

# Django
*.log
staticfiles/
backend/staticfiles/
media/
backend/media/

# Sqlite
*.sqlite3
backend/db.sqlite3

# IDE/Editor
.vscode/
.idea/

# Node
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db
